*{
    font-size: 14px;
    
}
ul {
    list-style-type: none;
    margin-top: 0;
    padding-left: 2rem;
    width: 100%;
    background-color: lightblue;
    display: flex;
    justify-content: space-around;
  }
  
  li a {
    display: block;
    font-size: 32px;
    line-height: 5rem;
    
  }


